body {
    font-family: Junicode, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFEBEE, #DDEBEE);
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="text"] {
    font-family: 'Junicode', sans-serif;
    font-size: 40px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.output {
    font-family: 'Junicode', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    overflow-wrap: break-word;
}
